
.buttonsty{
    height:150px;
    width: 100%;
    margin-top: 15px;
}
.buttonsty:hover{
    -webkit-transform: translateY(0px) scale(1.1);
  transform: translateY(0px) scale(1.1);
  box-shadow: 0 5px 5px 5px rgba(0, 0, 0, 0.3);
  z-index: 1;
  color: #ffffff;
    
}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    .brand-logo {
      font-size: 5px;
    }
  }